@import 'src/app/sass/globals.scss';

:host {
    height: 30%;
}

.army-counter {
    span {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.button-container {
    flex-direction: column;
}