<div class='army-container centered'>
  <span class='army-name'>Sauron</span>
  <div class='army-counter centered'>
    <img src='/assets/images/SauronElite.png' />
    <span>12</span>
    <span class='button-container centered'>
        <div>KILL</div>
        <div>MUSTER</div>
      </span>
    <span>5</span>
  </div>
  <div class='army-counter centered'>
    <img src='/assets/images/SauronRegular.png' /><span>12</span><span>5</span>
  </div>
  <div class='army-counter centered'>
    <img src='/assets/images/Nazgul.png' /><span>12</span><span>5</span>
  </div>
</div>